/docker/vendor/
/mail/
/postgres/
/rabbitmq/
/tmp/
/redis/
/var/*
/app/config/parameters.yml
/bin
/composer.phar
/vendor/
/web/bundles/
/web/admin/node_modules/
/web/admin/vendor
/web/admin/build
/web/admin/bower_components/
!/web/bundles/apissystemuser/*
.idea
.jscsrc
docker-compose.yml
/redis/data/appendonly.aof